<div style="text-align:center">
  <h1>
    Metademy sms app.
  </h1>
</div>

<form (ngSubmit)="saveCandidate(f)" #f="ngForm">
  <div class="row">
    <div>
      <label>Name</label>
      <div class="input-group">
        <input type="text" class="form-control" ngModel name="name" required>
      </div>
    </div>
    <div>
      <label>Mobile</label>
      <div class="input-group">
        <input type="text" pattern="[0-9]{10}" class="form-control" ngModel name="mobile" required>
      </div>
    </div>
    <div>
      <label>Company</label>
      <div class="input-group">
        <input type="text" class="form-control" ngModel name="company">
      </div>
    </div>
    <div>
      <label>Message</label>
      <div class="input-group">
        <textarea class="form-control" rows="4" ngModel name="message" required></textarea>
      </div>
    </div>
  </div>
  <div>
    <button [disabled]="!f.valid">Save</button>
  </div>
</form>

<hr>

<form (ngSubmit)="getCandidate(fm)" #fm="ngForm">
  <div class="row">
    <div>
      <label>Id</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Id" ngModel name="id" required>
      </div>
    </div>
  </div>
  <div>
    <button [disabled]="!fm.valid">Get Mobile</button>
  </div>
</form>

